/*@import url("http://www.google.com/fonts/specimen/Open+Sans");*/

@font-face {
  font-family: myFont;
  src: url("../fonts/OpenSans.ttf");
}

* {
  font-family: myFont;
  box-sizing: border-box;
}

.league-name {
  position: absolute;
  display: block;
  font-size: 40px;
  color: white;
  top: 0;
  width: 100%;
  height: 5%;
  left: 0;
}

.league-type {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  top: 15%;
  font-size: 20px;
  color: white;
}

.flag {
  display: block;
  position: absolute;
  width: 25%;
  max-width: 200px;
  height: 25%;
  top: 30%;
  border: 2px solid white;
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-x: 50%;
  background-position-y: 50%;
}

.flag-home {
  left: 10%;
}

.flag-away {
  right: 10%;
}

.result {
  position: absolute;
  display: block;
  height: auto;
  top: 30%;
  left: 43%;
  margin-right: 50px;
  /*
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
  */
}

.result-text {
  position: absolute;
  display: block;
  font-size: 30px;
  /*
  min-width: 150px;
  max-width: 180px;
  */
  color: white;
  text-align: center;
  border: 2px solid white;
}

.team-name {
  display: block;
  position: absolute;
  top: 52%;
  font-size: 30px;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
}

.team-name-home {
  left: 8%;
}

.team-name-away {
  right: 8%;
}

.match-status {
  position: absolute;
  display: flexbox;
  left: 36%;
  bottom: 10%;
  width: 30%;
  height: 10%;
  font-size: 30px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.match-status > p {
  padding: 0;
  margin: 3%;
}

/*---------------------------*/
.carousel-content {
  position: relative;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 1s;
  /*width: 100%;*/
  height: 500px;
  left: 0;
}

/*
.carousel-content::before {
  content: "";
  background-image: url("https://www.agernic.com/uploads/image-opacity.jpg");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
}
*/

.hidden {
  opacity: 1;
}

.active {
  opacity: 1;
}

.bckg-img {
  border-radius: 8%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100%;
}

@media only screen and (max-width: 870px) {
  .carousel-content {
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all 1s;
    width: 50%;
    height: 100%;
    left: 0;
  }

  .match-status {
    font-size: 13px;
  }

  .match-status > p {
    margin: 2px;
  }

  .league-name {
    font-size: 20px;
  }

  .league-type {
    font-size: 15px;
  }

  .flag {
    top: 38%;
  }

  .result-text {
    font-size: 20px;
    color: white;
  }

  .team-name {
    top: 55%;
    font-size: 17px;
  }
}

@media only screen and (max-width: 450px) {
  .carousel-content {
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all 1s;
    width: 50%;
    height: 100%;
    left: 0;
  }

  .match-status {
    font-size: 8px;
  }

  .match-status > p {
    margin: 0;
  }

  .league-name {
    font-size: 15px;
  }

  .league-type {
    font-size: 10px;
  }

  .flag {
    top: 38%;
  }

  .result-text {
    font-size: 13px;
    color: white;
  }

  .team-name {
    top: 55%;
    font-size: 12px;
    align-content: center;
    width: 70px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-content {
    position: relative;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: all 1s;
    width: 100%;
    height: 100%;
    left: 0;
  }

  .match-status {
    font-size: 8px;
  }

  .match-status > p {
    margin: -1px;
  }

  .league-name {
    font-size: 12px;
  }

  .league-type {
    font-size: 10px;
  }

  .flag {
    top: 38%;
  }

  .result-text {
    font-size: 12px;
    color: white;
  }

  .team-name {
    top: 55%;
    font-size: 10px;
    width: 70px;
  }
}
