.league-name {
  left: 19rem;
  position: absolute;
  display: block;
  font-size: 40px;
  color: white;
}

.league-type {
  left: 23rem;
  top: 4.5rem;
  position: absolute;
  display: block;
  font-size: 20px;
  color: white;
}

.flag-left {
  display: block;
  position: absolute;
  width: 200px;
  height: 150px;
  top: 30%;
  left: 2rem;
  border: 2px solid white;
}

.flag-right {
  display: block;
  position: absolute;
  width: 200px;
  height: 150px;
  top: 30%;
  right: 2rem;
  border: 2px solid white;
}

.result {
  display: inline;
  position: absolute;
  width: 200;
  height: 150;
  top: 30%;
  left: 38%;
  border: 2px solid white;
}

.result-text {
  top: 10%;
  left: 4rem;
  position: absolute;
  display: block;
  font-size: 40px;
  color: white;
  text-align: center;
}

.team-left {
  display: block;
  position: absolute;
  top: 58%;
  left: 5rem;
  font-size: 30px;
  color: white;
}

.team-right {
  display: block;
  position: absolute;
  top: 58%;
  right: 4rem;
  font-size: 30px;
  color: white;
}

.match-status {
  left: 22.5rem;
  bottom: 10%;
  position: absolute;
  display: block;
  font-size: 20px;
  color: white;
  border: 2px solid white;
}

/*---------------------------*/
.carousel-content {
  position: fixed;
  float: left;
  transition: all 1s;
  width: 50rem;
  height: 30rem;
}

/*
.carousel-content::before {
  content: "";
  background-image: url("https://www.agernic.com/uploads/image-opacity.jpg");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
}
*/

.hidden {
  opacity: 0;
  transform: translateX(-50%);
}

.active {
  opacity: 1;
}

.bckg-img {
  border-radius: 8%;
}
