.league-name {
  position: absolute;
  display: block;
  font-size: 40px;
  color: white;
  top: 0;
  width: 100%;
  height: 5%;
  left: 0;
}

.league-type {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  top: 15%;
  font-size: 20px;
  color: white;
}

.flag-left {
  display: block;
  position: absolute;
  width: 25%;
  max-width: 200px;
  height: 25%;
  top: 30%;
  left: 4rem;
  border: 2px solid white;
  background-image: url(http://ls.betradar.com/ls/crest/big/354473.png);
}

.flag-right {
  display: block;
  position: absolute;
  width: 25%;
  max-width: 200px;
  height: 25%;
  top: 30%;
  right: 4rem;
  border: 2px solid white;
  background-image: url(https://i.ytimg.com/vi/_HXnpPuEHsQ/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 200px auto;
}

.result {
  display: block;
  position: absolute;
  height: auto;
  top: 30%;
  left: 50%;
  /*
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
  */
}

.result-text {
  position: absolute;
  display: block;
  font-size: 30px;
  /*
  min-width: 150px;
  max-width: 180px;
  */
  color: white;
  text-align: center;
  border: 2px solid white;
}

.team-left {
  position: absolute;
  display: block;
  top: 52%;
  left: 5rem;
  font-size: 30px;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
}

.team-right {
  display: block;
  position: absolute;
  top: 52%;
  right: 5rem;
  font-size: 30px;
  color: white;
  text-align: center;
  width: auto;
  height: auto;
}

.match-status {
  position: absolute;
  display: block;
  left: 36%;
  bottom: 10%;
  width: 180px;
  font-size: 20px;
  color: white;
  border: 2px solid white;
}

/*---------------------------*/
.carousel-content {
  position: absolute;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 1s;
  width: 100%;
  height: 500px;
  left: 0;
}

/*
.carousel-content::before {
  content: "";
  background-image: url("https://www.agernic.com/uploads/image-opacity.jpg");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 100%;
}
*/

.hidden {
  opacity: 0;
  margin-left: 100%;
  transition: translate(-100%, -100%);
}

.active {
  opacity: 1;
}

.bckg-img {
  border-radius: 8%;
}
