@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.btn-slider {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  transition: all 150ms;
}

.btn-slider:hover {
  cursor: pointer;
  background-color: rgba(108, 122, 137, 0.15);
  border-radius: 22%;
}

.btn-prev {
  left: 32rem;
  top: 15rem;
}
.btn-next {
  right: 32rem;
  top: 15rem;
}

.dot-indicators {
  display: flex;
  position: absolute;
  bottom: 9rem;
  left: 56rem;
}

.dot-indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.dot-indicator-active {
  background-color: grey;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}
/*-----------------------*/
.carousel-container {
  left: 10rem;
  right: 10rem;
  height: 30px;
  border: 2px solid black;
}

.carousel-wrapper {
  left: 10rem;
  right: 10rem;
  height: 50px;
  border: 2px solid red;
}

.carousel-content-wrapper {
  display: flex;
  width: auto;
  overflow: hidden;
  left: 10rem;
  right: 10rem;
  height: 80px;
  border: 2px solid turquoise;
}

.carousel-content {
  align-content: center;
  display: flex;
  position: relative;
  width: 800rem;
  left: 35rem;
  right: 35rem;
  border-radius: 8%;
}
