@import url("https://cdnbox-sizing: border-box;js.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

.btn-nav-wrapper {
  /*position: relative;*/
  left: 0;
  width: 2rem;
  height: 100%;
  background-color: transparent;
  /*border: 2px solid red;*/
  transition: all 150ms;
}

.btn-nav-wrapper:hover {
  cursor: pointer;
  background-color: rgba(108, 122, 137, 0.15);
}

.btn-nav {
  position: absolute;
  top: 0;
  height: 100%;
  width: 8%;
  color: white;
  border-color: transparent;
}

.btn-nav-prev {
  left: 0;
  border-color: aqua;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.btn-nav-next {
  left: 91.8%;
  /*margin-left: -5px;*/
  border-color: aqua;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dot-indicators {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 43%;
  right: auto;
}

.dot-indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin: 0.5px;
}

.dot-indicator-active {
  background-color: grey !important;
}
/*-----------------------*/
.carousel-content-wrapper {
  /*display: flex;*/
  display: flex;
  flex: 1;
  position: relative;
  width: auto;
  margin-left: 3em;
  margin-right: 10em;
  height: 500px;
  max-width: 800px; /*800px*/
  max-height: 500px; /*500px*/
  min-width: 600px; /*600px*/
  min-height: 300px; /*300px*/
  overflow: hidden;
  border: 2px solid blueviolet;
}

.carousel-content {
  position: relative;
  align-content: center;
  flex: 0 0 100%;
  display: inline-flex;
  justify-content: flex-start;
  /*overflow: hidden;*/
  /*transform: translateX(-100%);*/
}

@media only screen and (max-width: 870px) {
  .carousel-content-wrapper {
    border: 3px solid red;
  }

  .carousel-content-wrapper {
    /*display: flex;*/
    display: flex;
    flex: 1;
    position: relative;
    margin-left: 2em;
    margin-right: 10em;
    height: 40px;
    width: auto;
    overflow: hidden;
    max-width: 400px;
    min-width: 390px;
    min-height: 250px;
    width: 100%;
  }

  .dot-indicators {
    bottom: 2%;
    left: 38%;
    text-align: center; /*kako centriram?*/
  }

  .dot-indicator {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    margin: 0.3px;
  }
}

@media only screen and (max-width: 450px) {
  /*ta me zajebava!*/
  .carousel-content-wrapper {
    border: 3px solid green;
  }

  .carousel-content-wrapper {
    /*display: flex;*/
    display: flex;
    flex: 1;
    position: relative;
    margin-left: 2em;
    margin-right: 10em;
    height: 40px;
    overflow: hidden;
    max-width: 270px;
    min-width: 270px;
    min-height: 150px;
    width: 100%;
  }

  .dot-indicators {
    bottom: 2%;
    left: 37%;
  }

  .dot-indicator {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    margin: 0.3px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-content-wrapper {
    border: 3px solid yellow;
  }

  .carousel-content-wrapper {
    /*display: flex;*/
    display: flex;
    flex: 1;
    position: relative;
    width: auto;
    margin-left: 2em;
    margin-right: 10em;
    max-width: 250px;
    max-height: 150px;
    min-width: 200px;
    min-height: 120px;
    overflow: hidden;
  }

  .dot-indicators {
    bottom: 2%;
    left: 37%;
  }

  .dot-indicator {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1px;
    margin: 0.3px;
  }
}
