.shown {
  display: block;
}

.btn-slider {
  position: absolute;
  width: 2rem;
  height: 2rem;
}
.btn-prev {
  left: 1rem;
  top: 50%;
}
.btn-next {
  right: 1rem;
  top: 50%;
}

.dot-indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
}

.dot-indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.dot-indicator-active {
  background-color: grey;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

/*-------------TEST------------------*/
.carousel-content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 600px;

  .carousel-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
  }

  .hidden {
    display: none !important;
  }
}
